__pycache__

# Ignorar contenido de carpetas de output y persona, pero mantener las carpetas
output_buscador_objetivo/*
!output_buscador_objetivo/.gitkeep

output_comparador_caras/*
!output_comparador_caras/.gitkeep

output_escaner_encodings/*
!output_escaner_encodings/.gitkeep

persona_objetivo/*
!persona_objetivo/.gitkeep

fotos_sobrantes/*
!fotos_sobrantes/.gitkeep

fotos_sobrantes_todas/*
!fotos_sobrantes_todas/.gitkeep

fotos_prueba/*
!fotos_prueba/.gitkeep

fotos/*
!fotos/.gitkeep

personas_encontradas/*
!personas_encontradas/.gitkeep